<!DOCTYPE html><html><head><meta charset="utf-8">

<title>{{title}}
 {{#if master}} (Master) {{else}} (Student) {{/if}}
</title>
<style>

  body { width: 40em;  outline: 1300px solid #fff; margin: 16px auto; }

  body .ehs-quiz { padding: 30px 70px 30px 30px; }

  .ehs-quiz {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    color: #333333;
    line-height: 1.6;
    word-wrap: break-word;
  }

  .ehs-quiz * {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .ehs-quiz p { font-size: 0.9em; }

  .ehs-quiz h1 {
    font-size: 1.3em;
    line-height: 1.1;
    margin: 0.67em 0 1.5em;
  }

  .ehs-quiz ol {
    font-size: 0.9em;
    padding: 0;
    padding-left: 2em;
    margin-top: 0;

  }

  .ehs-quiz ol ol {
    margin-top: 0;
    margin-bottom: 2em;
    font-weight: normal;
    font-size: 0.8em;
  }

  .ehs-quiz > ol > li {
    font-weight: bold;
    font-size: 1em;
  }

  .ehs-quiz .correct {
    color:red;
  }

  .ehs-quiz .incorrect {
    color:#999;
  }

  .ehs-quiz .answers li {
    vertical-align: middle;
    padding-left: 1em;
  }
  .ehs-quiz .answers img {
   vertical-align: middle;
 }

</style>

</head>
<body>
  <article class="ehs-quiz">
    <h1>{{category}}. {{title}}</h1>
    {{#if master}} 
    <p class="correct"> Master Copy. </p> 
    <ol class="questions">{{#questions}}
      <li>
        <p>
          {{#if question}}
          {{question}}
          {{/if}}
        </p>

        {{#if image}}
        <img src="{{image.filename}}"></img>
        {{/if}}

        {{#ifmc type}}
        <ol class="answers">
          {{#answers}}
          {{#if correct}}
          <li class="correct">
            {{#if text}}
            {{text}}
            {{/if}}
            {{#if image}}
            <img src="{{image.filename}}"></img>
            {{/if}}
          </li>


          {{else}}
          <li class="incorrect">
            {{#if text}}
            {{text}}
            {{/if}}
            {{#if image}}
            <img src="{{image.filename}}"></img>
            {{/if}}
          </li>
          {{/if}}
          {{/answers}}
        </ol>
        {{/ifmc}}
        {{#iftf type}}
        <ol class="answers">
          {{#if answer}}
          <li class="correct">True</li>
          <li class="incorrect">False</li>
          {{else}}
          <li class="incorrect">True</li>
          <li class="correct">False</li>
          {{/if}}
        </ol>
        {{/iftf}}

      </li>
      {{/questions}}
    </ol>
    {{else}}
    <p> Student Copy.</p> 
    <ol class="questions">{{#questions}}
      <li>
        <p>

          {{#if question}}
          {{question}}
          {{/if}}
          

        </p>
        {{#if image}}
        <img src="{{image.filename}}"></img>
        {{/if}}
        {{#ifmc type}}
        <ol class="answers">{{#answers}}
          <li >  
            {{#if text}}
            {{text}}
            {{/if}}
            {{#if image}}
            <img src="{{image.filename}}"></img>
            {{/if}}</li>
            {{/answers}}
          </ol>
          {{/ifmc}}
          {{#iftf type}}
        <ol class="answers">
        
          <li>True</li>
          <li>False</li>
     
        </ol>
        {{/iftf}}
        </li>
        {{/questions}}
      </ol>
      {{/if}}
    </article>
  </body>
  </html>

